#wrapper {
	margin: 0 auto;
}

* {
	font-family: "Nunito", sans-serif;
/*	outline: 1px solid red;*/
}

#logo {
	display: inline-block;
	height: 51px;
	width: 144px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	background-image: url(../images/newamlinlogo.png);
	background-repeat: no-repeat;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #4c4c45;
	color: white;
	z-index: 100;
}

.headFont {
	display: inline-block;
	font-size: 28px;
	margin: 21px;
}

.right {
	float: right;
	top: 0;
	right: 0;
}

#header ul {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
}

#questionAnswer {
	margin: 0 auto;
	width: 800px;
}

#Spacer {
	display: block;
	position: relative;
	height: 25px;
	margin-top: 80px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background-color: #4c4c45;
	color: white;
	z-index: 100;
	text-align: center;
}

#footerScore {
	display: inline-block;
	padding-top: 10px;
}

#startScreen, #endScreen {
	height: 400px;
	padding-top: 40px;
	border: 10px solid #482DFF;
	font-family: "Francois One", sans-serif;
	font-size: 72px;
	text-align: center;
	color: #4c4c45;
	background-color: white;
}

#endScreen, .correct, .incorrect {
	display: none;
}

#q1, #q2, #q3, #q4, #q5 {
	height: 400px;
	background-color: white;
}

#q1 {
	border: 10px solid #FF075C;
	display: none;
}

#q2 {
	border: 10px solid #B41DE8;
	display: none;
}

#q3 {
	border: 10px solid #482DFF;
	display: none;
}

#q4 {
	border: 10px solid #2881E8;
	display: none;
}

#q5 {
	border: 10px solid #20FFF2;
	display: none;
}

.ques {
	padding-left: 15px;
	font-family: "Francois One", sans-serif;
	font-size: 36px;
	margin-bottom: 18px;
	border-bottom: 1px solid #EDEDEB;
}

.ans {
	line-height: 40px;
}

.vertical { 
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%); 
}

#questionAnswer li:hover {
	background-color: #D9D5D5;
}

.correct {
	padding-left: 10px;
	background-color: #70E482;
	border: 1px dashed #1DA531;
}

.incorrect {
	padding-left: 10px;
	background-color: #EB5C5C;
	border: 1px dashed #D00D0D;
	color: white;
}

body {
	background-color: #E9E9E0;
}
